@page "/tickets"
@using Tickets.Shared.Entites;
@using Tickets.WEB.Repositories;
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService


<h3>Validar Boleta</h3>

<GenericList MyList="Tickets">
    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID Boleta</th>
                    <th>Fecha Uso</th>
                    <th>¿Fue usada?</th>
                    <th>Portería</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ticket in Tickets!)
                {
                    <tr>
                        <td>
                            @ticket.Id
                        </td>
                        <td>
                            @ticket.FechaUso
                        </td>
                        <td>
                            @ticket.FueUsada
                        </td>
                        <td>
                            @ticket.Porteria
                        </td>
                        <td>
                            <a href="/tickets/edit/@ticket.Id" class="btn btn-warning">Editar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </Body>
</GenericList>

@code {
    public List<Ticket>? Tickets { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadAsync();
    }
    private async Task LoadAsync()
    {
        var responseHttp = await repository.Get<List<Ticket>>("/api/tickets");
        Tickets = responseHttp.Response!;
    }
    private async Task DeleteAsync(int Id)
    {
        var result = await sweetAlertService.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = "¿Realmente desea eliminar el registro?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true,
                CancelButtonText = "No",
                ConfirmButtonText = "Si"
            });
        var confirm = string.IsNullOrEmpty(result.Value);
        if (confirm)
        {
            return;
        }
        var responseHttp = await repository.Delete($"/api/countries/{Id}");
        if (responseHttp.Error)
        {
            if (responseHttp.HttpResponseMessage.StatusCode != HttpStatusCode.NotFound)
            {
                var message = await responseHttp.GetErrorMessageAsync();
                await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
                return;
            }
        }
        await LoadAsync();
    }
}
