@page "/tickets"
@using Tickets.Shared.Entites;
@using Tickets.WEB.Repositories;
@inject IRepository repository

<h3>Validar Boleta</h3>

<GenericList MyList="Tickets">
    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID Boleta</th>
                    <th>Fecha Uso</th>
                    <th>¿Fue usada?</th>
                    <th>Portería</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ticket in Tickets!)
                {
                    <tr>
                        <td>
                            @ticket.Id
                        </td>
                        <td>
                            @ticket.FechaUso
                        </td>
                        <td>
                            @ticket.FueUsada
                        </td>
                        <td>
                            @ticket.Porteria
                        </td>
                        <td>
                            <a class="btn btn-warning">Editar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </Body>
</GenericList>

@code {
    public List<Ticket>? Tickets { get; set; }

    protected async override Task OnInitializedAsync()
    {
        var responseHppt = await repository.Get<List<Ticket>>("/api/tickets");
        Tickets = responseHppt.Response!;
    }
}
