@page "/tickets"
@using Tickets.Shared.Entites;
@using Tickets.WEB.Repositories;
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService


<h3>Validar Boleta</h3>

<Pagination CurrentPage="currentPage"
            TotalPages="totalPages"
            SelectedPage="SelectedPage" />


<GenericList MyList="Tickets">
    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID Boleta</th>
                    <th>Fecha Uso</th>
                    <th>¿Fue usada?</th>
                    <th>Portería</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ticket in Tickets!)
                {
                    <tr>
                        <td>
                            @ticket.Id
                        </td>
                        <td>
                            @ticket.FechaUso
                        </td>
                        <td>
                            @ticket.FueUsada
                        </td>
                        <td>
                            @ticket.Porteria
                        </td>
                        <td>
                            <a href="/tickets/edit/@ticket.Id" class="btn btn-warning">Editar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </Body>
</GenericList>

@code {
    public List<Ticket>? Tickets { get; set; }

    private int currentPage = 1;
    private int totalPages;

     protected async override Task OnInitializedAsync()
    {
        await Load();
    }

    private async Task Load()
    {
        var responseHppt = await repository.Get<List<Ticket>>("/api/tickets");
        Tickets = responseHppt.Response!;
    }

}
