@page "/tickets/create"
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService

<h3>Crear Boleta</h3>

<TicktsForm @ref="ticktsForm" Ticket="ticket" OnValidSubmit="Create" ReturnAction="Return" />

@code {
    private Ticket ticket = new();

    private TicktsForm? ticktsForm;

    private async Task Create()
    {
        var responseHttp = await repository.Post("/api/tickets", ticket);
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message);
            return;
        }
        ticktsForm!.FormPostedSuccessfully = true;
        navigationManager.NavigateTo("/tickets");
    }

    private void Return()
    {
        navigationManager.NavigateTo("/tickets");
    }
}
